{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/caraousel.css" %}">
</head>
<body>
    <div class = "c_pic" id="c_pic">
        <div onclick = "handleRightArrow()" class = "right_arrow">
            <i class="fa-solid fa-chevron-right fa-xl"></i>
        </div>

        <div id = "caraousel_box"></div>
        
        <div onclick = "handleLeftArrow()" class = "left_arrow">
            <i class="fa-solid fa-chevron-left fa-xl"></i>
        </div>
    </div>
    <script src="{% static "js/caraousel.js" %}"></script>
</body>
</html>