{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Navbar</title>
    
</head>
<body>
    <div>
        <header class = "header">
            <img src="{% static "images/image.png" %}" alt="">
            <div class = "search_box">
                <div>
                    <i class="fa-solid fa-magnifying-glass cart-icon"></i>
                </div>
                <div class = "text_box">
                    <p class = "del_text">Delivering to Sonipat 131001</p>
                    <p class = "text_update">Update location</p>
                </div>
            </div>

            <div class = "dropdown_box">
                <select name="select" id="select">
                    <option value="">All</option>
                    <option value="">1</option>
                    <option value="">1</option>
                    <option value="">1</option>
                </select>

                <input type="text" name="" id="" class = "dropdown_box_input_box">
                <div class="search_box_fa_icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </header>
        
    </div>
</body>
</html>